chapter8/Bedrock-StateMachine.asl.yaml
Comment: ステートマシンの説明
StartAt: Qiita APIの呼び出し
States:
  Qiita APIの呼び出し:
    Type: Task
    Resource: arn:aws:states:::http:invoke
    Parameters:
      ApiEndpoint: https://qiita.com/api/v2/items
      Method: GET
      Authentication:
        ConnectionArn: >-
          arn:aws:events:us-east-1:637423213562:connection/qiita-connection/b6f6ee57-612e-4787-ae9e-ee47e6452844
      QueryParameters:
        query: tag:aws user:moritalous
        per_page: "3"
    Retry:
      - ErrorEquals:
          - States.ALL
        BackoffRate: 2
        IntervalSeconds: 1
        MaxAttempts: 3
        JitterStrategy: FULL
    Next: Map
  Map:
    Type: Map
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: 各投稿を要約
      States:
        各投稿を要約:
          Type: Task
          Resource: arn:aws:states:::bedrock:invokeModel
          Parameters:
            Body:
              anthropic_version: bedrock-2023-05-31
              max_tokens: 500
              system: あなたのタスクは要点をまとめることです。
              messages:
                - role: user
                  content:
                    - type: text
                      text.$: |-
                        States.Format('以下の文章は私がブログに投稿した内容です。

                        <document>
                        {}
                        </document>

                        条件
                        - 文書の内容から筆者が解決した課題や取り組んだきっかけを1行で出力してください。
                        - 文書の内容から筆者が工夫した点を3点抽出し、箇条書きで出力してください。
                        - 文書の内容から筆者が取り組んだ内容を200文字でまとめてください。

                        条件に従って<document>の要点を抽出してください。', $.body)
            ModelId: >-
              arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0
          End: true
    ItemsPath: $.ResponseBody
    ResultSelector:
      Summary.$: $
    Next: 自己紹介文とキャッチコピーを生成
  自己紹介文とキャッチコピーを生成:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 1000
        system: あなたのタスクは自己紹介文章の作成とキャッチコピーの作成です。
        messages:
          - role: user
            content:
              - type: text
                text.$: >-
                  States.Format('以下の文章は、私が最近投稿した技術ブログの内容です。

                  <documents>
                  {}
                  </documents>

                  最近の私のブログの投稿をもとに、私のキャッチコピーを生成してください。また、自己紹介文章を300文字程度で生成してください。',
                  $.Summary)
    Next: Parallel
  Parallel:
    Type: Parallel
    End: true
    Branches:
      - StartAt: Markdownを生成
        States:
          Markdownを生成:
            Type: Task
            Resource: arn:aws:states:::bedrock:invokeModel
            Parameters:
              ModelId: >-
                arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0
              Body:
                anthropic_version: bedrock-2023-05-31
                max_tokens: 1000
                system: あなたのタスクはMarkdownを生成することです。
                messages:
                  - role: user
                    content:
                      - type: text
                        text.$: |-
                          States.Format('自己紹介の内容と最近投稿したブログを元にMarkdownを生成してください。

                          <自己紹介の内容>
                          {}
                          </自己紹介の内容>

                          条件
                          - Markdownのみを出力し、不要な会話文は出力しないでください。

                          私の自己紹介をMarkdown形式で生成してください。', $)
                  - role: assistant
                    content:
                      - type: text
                        text: "#"
            End: true
            ResultSelector:
              Markdown.$: $
      - StartAt: 画像生成プロンプトを生成
        States:
          画像生成プロンプトを生成:
            Type: Task
            Resource: arn:aws:states:::bedrock:invokeModel
            Parameters:
              ModelId: >-
                arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-sonnet-20240229-v1:0
              Body:
                anthropic_version: bedrock-2023-05-31
                max_tokens: 1000
                system: >-
                  あなたのタスクはStable
                  Diffusionで使用するプロンプトを考案することです。考案したプロンプト以外の出力は行わないでください。
                messages:
                  - role: user
                    content:
                      - type: text
                        text: |-
                          States.Format('以下の内容でブログを作成します。

                          <自己紹介の内容>
                          {}
                          </自己紹介の内容>

                          条件
                          - プロンプトのみを出力し、不要な会話文は出力しないでください。
                          - プロンプトは英語で出力してください。

                          私の自己紹介をもとにアイキャッチ画像を生成するプロンプトを生成してください。', $)
                  - role: assistant
                    content:
                      - type: text
                        text: "#"
            Next: アイキャッチ画像を生成
          アイキャッチ画像を生成:
            Type: Task
            Resource: arn:aws:states:::bedrock:invokeModel
            Parameters:
              ModelId: >-
                arn:aws:bedrock:us-east-1::foundation-model/stability.stable-diffusion-xl-v1
              Body:
                text_prompts:
                  - text.$: $
                    weight: 1
                cfg_scale: 10
                seed: 0
                steps: 50
                width: 1024
                height: 1024
              Output:
                S3Uri: s3://bedrock-637423213562/stepfunctions/image.json
            End: true
            ResultSelector:
              Image.$: $
            InputPath: $.Body.content[0].text
